.coinInfo {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .coinInfo {
    padding: 20px;
  }
}
